#! /bin/bash

# Let the first master node setup mysql and k3s; other master nodes wait before setup
[ ${inst-id} -ne 0 ] && sleep 60

# Prepare kubectl for root
sudo mkdir ~root/.kube
sudo chmod 750 ~root/.kube

# Basic install of k3s.
curl -sfL https://get.k3s.io | sh -s - server \
  --datastore-endpoint="mysql://admin:${pwd}@tcp(${host}:3306)/k3s" \
  --token ${token}

sudo snap install helm --classic

# Wait for k3s.yaml to appear
while ! sudo [ -e /etc/rancher/k3s/k3s.yaml ]
do 
  sleep 5
done

kc=~root/.kube/config

# Allow root to have superuser over the cluster:
sudo cp /etc/rancher/k3s/k3s.yaml $kc

# Wait for all kube-system deployments to roll out
for d in $(sudo kubectl get deploy -n kube-system --no-headers -o name)
do 
  sudo kubectl -n kube-system rollout status $d
done

# Display kubeconfig to console.
[ ${inst-id} -eq 0 -a "${kubeconfig-console}" = "true" ] && {
  ss=/etc/cron.daily/kube-config-to-console.sh

  cat > $ss << EOF
#!/bin/bash

kc=~root/.kube/config

[ -r \$kc ] && {
  echo ===================================================================== > /dev/console
  echo Cluster kubeconfig: > /dev/console
  echo ===================================================================== > /dev/console
  cat \$kc > /dev/console
  echo ===================================================================== > /dev/console
  echo End cluster kubeconfig > /dev/console
}
EOF

  chmod 755 $ss
  $ss
}

# Save kubeconfig as an ssm parameter.
[ ${inst-id} -eq 0 -a "${kubeconfig-ssm}" = "true" ] && {
  aws ssm put-parameter --name ${prefix}-kubeconfig --value "$(cat ${kc})" --type String
}

# finally how does k3s look?
sudo kubectl get nodes
sudo kubectl get all -A